@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-size: 20px;
    background-color: #e9ecef;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 70%;
    margin: auto;
    background-color: #ced4da;
    border-radius: 0.25rem;
    padding: 2%;
}

.display_section {
    margin: auto;
    width: 80%;
    height: 100px;
    border-radius: 0.2rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.display {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show_input,
.final_value {
    font-size: 45px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    width: 90%;
    text-align: right;
    user-select: none;
}

.btn_section {
    margin: 5%;
    padding: 2%;
    border-radius: 0.2rem;
}

.btn_gird {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    margin: 2%;
}

.btn_div button {
    font-size: 25px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    border: 0.5px solid black;
    border-radius: 0.3rem;
    transition: all 0.2s ease;
}

.btn_div button:hover {
    background-color: #dee2e6;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.footer {
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 3%;

}

.nav_copyright {
    font-size: 18px;
}


@media (max-width: 767px) {

    h1 {
        font-size: 35px;
    }

    .display_section {
        height: 60px;

    }

    .show_input,
    .final_value {
        font-size: 35px;
    }

    .btn_div button {
        font-size: 25px;
    }

    .nav_copyright {
        font-size: 15px;
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 28px;
        font-weight: 500;
    }

    .display_section {
        height: 48px;

    }

    .show_input,
    .final_value {
        font-size: 25px;
    }

    .btn_div button {
        font-size: 20px;
    }

    .footer {
        font-size: 8px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}