*{
    font-size: 20px;
}

h1{
    text-align: center;
    font-size: 50px;
}

.container{
    width: 70%;
    margin: auto;
}

.display_section{
    width: 80%;
    margin: auto;
}

.display{
    width: fit-content;    
}

.btn_section{
    margin: 5%;
}

.btn_gird{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1%;
    margin: 5%;
}

.btn_div{
    
}

.btn_div button{
    width: 100%;
}